* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 25px;
}

:root {
  --color-hover: #2e3239;
  --color-stroke: #cdd9e5;
  --border-width-value: 2px;
  --border-radius-value: 2px;
  --color-copy-success-clipboard: #57ab5a;
}

.layer {
  color: var(--color-stroke);
}
