@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --item-height: 555px;
}

body::-webkit-scrollbar {
  display: none;
}

.layer {
  min-height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

nav {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.inputSearch {
  width: 240px;
  padding: 12px 18px;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  outline: none;
  color: #fff;
  font-size: 18px;
}

.inputSearch::placeholder {
  color: #7374b3;
}

.layerFilms {
  display: grid;
  grid-template-areas: "item";
  grid-gap: 24px;
  padding: 24px;
}

.item {
  background-color: var(--secondary-color);
  height: var(--item-height);
  border-radius: 2px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.item:active {
  background-color: #353968;
}

.filmAvatar {
  height: 80%;
  background-color: bisque;
}

.filmInfo {
  height: 20%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  color: #fff;
}

.filmName,
.filmRate {
  font-size: 18px;
  font-weight: 600;
}

.filmRate {
  padding: 12px;
  color: orange;
  background-color: #22254b;
  border-radius: 2px;
}

.layerFilmDecoration {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.layerFilmInfo {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: fit-content;
  max-height: var(--item-height);

  padding: 24px;
  background-color: #fff;
  transition-duration: 800ms;
  word-break: break-word;
  z-index: 20;
  /* overflow-y: scroll; */
}

.layerFilmInfo::-webkit-scrollbar {
  background-color: rgb(191, 191, 191);
}

.layerFilmInfo::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

.layerFilmInfo::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.info {
  color: #111;
  font-size: 18px;
}

.title {
  font-weight: 600;
  margin-bottom: 24px;
  font-size: 18px;
}

.imgFilmAvatar {
  display: block;
  width: 100%;
  height: 100%;
}

.layerPagination {
  /* width: fit-content; */
  margin-left: auto;
  margin-right: 24px;
  display: flex;
  border: 1px solid #fff;
}

.previousButton,
.nextButton {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
}
.nextButton {
  margin-left: 12px;
}

.page {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  user-select: none;
  margin-left: 12px;
}

.page:active,
.previousButton:active,
.nextButton:active {
  background-color: #7374b3;
}

@media (min-width: 768px) {
  .layerFilms {
    grid-template-areas: "item item";
  }
}

@media (min-width: 1024px) {
  .layerFilms {
    grid-template-areas: "item item item";
  }
}

@media (min-width: 1280px) {
  .layerFilms {
    grid-template-areas: "item item item item";
  }
}
