* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

::selection {
    background-color: rgb(149, 149, 149);
}

:root {
    --transition-duration:400ms;
}

.layer-1 {
    background-color: #333;
    min-height: 200px;
    overflow: hidden;
}

.layer-2 {
    z-index: 10;
    padding: 48px;
    background-color: #fff;
    position: relative;
    transform-origin: top left;
    transition: var(--transition-duration);
    border-radius: 2px;
}

.layer-menu {
    --size:250px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: calc(-1 * var(--size) / 2);
    left: calc(-1 * var(--size) / 2);
    cursor: pointer;
    background-color: #ff7979;
    border-radius: 50%;
    transform-origin: 50% 50% 0;
    transition: var(--transition-duration);
}

.square {
    --size:50px;
    width: var(--size);
    height: var(--size);
    position: absolute;

}

.hamburger {
    --layer-menu-size:250px;
    --square-size:50px;
    --delta:14px;
    left: calc(var( --layer-menu-size) / 2 + var( --layer-menu-size) / 2 / 2 - var(--square-size) / 2    - var(--delta)  );
    top: calc(var( --layer-menu-size) / 2 + var( --layer-menu-size) / 2 / 2 - var(--square-size) / 2 - var(--delta)  )   ;
    padding:9px  6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hamburger-bar {
height: 4px;
width: 100%;
background-color: #fff;
border-radius: 2px;
}

.hamburger:active .hamburger-bar{
    transform: scale(0.98);
}

.rotateCounterClockwise70deg {
    transform: rotate(-70deg);
    transition: var(--transition-duration);
}

.layer-menu::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    /* background-color: #333; */
    left: 50%;
}

.layer-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height:4px;
    /* background-color: #333; */
    top: 50%;
}

.close {
    --layer-menu-size:250px;
    --square-size:50px;
    --delta:14px;
    top: calc(var( --layer-menu-size) / 2 + var( --layer-menu-size) / 2 / 2 - var(--square-size) / 2    - var(--delta)  );

    left: calc(var(--layer-menu-size) / 2 - 2 * var(--square-size) + 2 * var(--delta));
    padding:9px  6px;
    transform-origin: 50% 50% 0;
    transform: rotate(45deg);
}

.close-bar {
    background-color: #fff;
    border-radius: 2px;
    position: relative;
}

.close-bar:nth-of-type(1) {
    width: calc(100% - 3px * 2);
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


.close-bar:nth-of-type(2) { 
    width: 4px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-4px);
    
}


    
.title {
    font-weight: 400;
    font-size: 24px;
}

.sub-title {
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.paragraph {
    padding: 24px 0;
    font-size: 16px;

}

.title-2 {
    font-size: 18px;
}

.dogImage {
    padding: 24px 0;
    position: relative;
    cursor: pointer;
}

img {
    width: 100%;
}

.paragraph2 {
    padding-top: 0;
   
}
.text {
    font-size: 16px;
    line-height: 24px;
}


.transition0s {
    transition: 0s;
}


.rotateCounterClockwise20deg {
    transform: rotate(-20deg);
}

.layer-navigation {
    z-index: 5;
    position: fixed;
    left: 24px;
    bottom: 96px;
    width: 300px;
    height: 200px;
    padding: 24px;

}

.navigate {
    width: 100%;
    height: 50px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    position: relative;
    left: -157px;
    cursor: pointer;
    user-select: none;
}

.icon {
    --size:35px;
    height: var(--size);
    width: var(--size);
}

.navigate-to {
    color: #fff;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}


.animationHome {
    animation-name: animationHome;
    animation-duration: var(--transition-duration);
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes animationHome {
    from {
        left: -157px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}


.animationAbout {
    animation-name: animationAbout;
    animation-duration: var(--transition-duration);
    animation-delay: 100ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes animationAbout {
    from {
        left: -157px;
        opacity: 0;
    }

    to {
        left: 24px;
        opacity: 1;
    }
}


.animationContact {
    animation-name: animationContact;
    animation-duration: var(--transition-duration);
    animation-delay: 200ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes animationContact {
    from {
        left: -157px;
        opacity: 0;
    }

    to {
        left: 48px;
        opacity: 1;
    }
}


@media screen and (min-width: 768px) {
    .layer-2 {
        padding: 120px 260px;
    }
}

