* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg-layer-top: #eafbff;
  --bg-layer-bottom: #5290f9;
  --speed: 0.9s;
}

.layer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.layerTop {
  width: 100%;
  height: 50%;
  background-color: var(--bg-layer-top);
}

.layerBottom {
  width: 100%;
  height: 50%;
  background-color: var(--bg-layer-bottom);
}

.navigation {
  --size: 85px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  transition: 800ms;
  transition-timing-function: ease;
}

.navigation.active {
  width: 355px;
}

.navigation.active .link {
  opacity: 1;
  transform: rotateY(calc(180deg * 4));
}

.navigation.active .listLink {
  padding-left: 35px;
}

.listLink {
  --svg-width: 85px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - var(--svg-width));
  transition-duration: var(--speed);
}

.link {
  margin-left: 12px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  user-select: none;
  margin-left: 0;
  transition-duration: var(--speed);
  transition-property: all;
  opacity: 0;
}

.link:first-child {
  margin-left: 0;
}

.svgNavigationIcon {
  cursor: pointer;
}

#firstLine,
#secondLine {
  transform-origin: 35px 45px;

  transition-duration: var(--speed);
}

.svgNavigationIcon.active #firstLine {
  transform: rotate(540deg);
}

.displayNone {
  display: none;
}

.navigateIcon {
  --size: 85px;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  position: relative;
}

.line1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 4px));
  width: calc(100% - 24px * 2);
  height: 4px;
  background-color: var(--bg-layer-bottom);
  border-radius: 2px;
  transition-duration: var(--speed);
}

.line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% + 4px));
  width: calc(100% - 24px * 2);
  height: 4px;
  background-color: var(--bg-layer-bottom);
  border-radius: 2px;
  transition-duration: var(--speed);
}

.line1.active {
  transform: translateX(-50%) translateY(-50%) rotate(calc(45deg * 9));
}

.line2.active {
  transform: translateX(-50%) translateY(-50%) rotate(calc(-45deg * 9));
}
