* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.layer {
  background-color: #080e24;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #101936;
  margin-right: 48px;
  border: 1.5px solid #616a69;
  border-radius: 3px;
  padding: 24px;
}

.topCard {
  background-color: transparent;
  height: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartHalfCircle {
  width: 100%;
  height: 100%;
}

.bottomCard {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 12px;
}

.section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #364268;
  top: 140%;
}

.dot {
  --size: 10px;
  width: var(--size);
  height: var(--size);
  background-color: #6e72fe;
  border-radius: 50%;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  margin-left: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #608ad7;
}

.card:last-child {
  margin-right: 0;
}

.batteryInfo {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.percent {
  font-size: 28px;
  color: #fff;
}

.info {
  color: #608ad7;
  font-weight: 500;
}

.buttonOnline {
  background-color: #4bb054;
  padding: 6px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.buttonOnline:active {
  background-color: #4bb0537d;
}

.content {
  color: #becfdf;
  font-weight: 500;
}
