* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --border-radius-value: 2px;
  --input-on-focus-color: #aad7e6;
  --transition-duration: 800ms;
}

.layer {
  background-color: #3c7db3;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layerForm {
  height: 430px;
  width: calc(100% - 24px * 2);
  max-width: 380px;
  border: 1px solid #000;
  border-radius: var(--border-radius-value);
  background-color: rgba(0, 0, 0, 0.378);
}

.titleForm {
  padding: 32px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.layerInputFormGroup {
  padding: 0 32px;
}

.inputEmail,
.inputPassword {
  width: 100%;
  padding: 12px 0;
  border: none;
  outline: none;
  border-radius: var(--border-radius-value);
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.inputPassword::placeholder,
.inputEmail::placeholder {
  color: #fff;
  font-size: 18px;
}

.inputOnFocusColor {
  border-bottom-color: var(--input-on-focus-color);
}

.inputOnFocusColor::placeholder {
  color: var(--input-on-focus-color);
}

.layerPassword {
  margin-top: 40px;
}

.layerButton {
  margin-top: 40px;
}

.buttonLogin {
  background-color: var(--input-on-focus-color);
  width: 100%;
  padding: 14px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: var(--border-radius-value);
  box-shadow: 1px 1px 10px 1px #fff;
  cursor: pointer;
}

.buttonLogin:active {
  background-color: #b9dae6;
}

.layerText {
  margin-top: 40px;
  display: flex;
}

.text {
  color: #fff;
  font-size: 18px;
}

.buttonRegister {
  color: var(--input-on-focus-color);
  background-color: transparent;
  font-size: 18px;
  margin-left: 4px;
  cursor: pointer;
  user-select: none;
}

.buttonRegister:active {
  color: #b9dae6;
}

.layerEmail {
  position: relative;
  height: 40px;
}

.labelEmail {
  position: absolute;
  left: 0;
  top: 20%;
  color: #fff;
  font-size: 18px;
  transition-duration: 200ms;
  transition-property: all;
}

.inputEmail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition-duration: var(--transition-duration);
  transition-property: all;
  transform-origin: left;
}

.pseudoBorderBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.pseudoBorderBottomOnFocus {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0;
  background-color: var(--input-on-focus-color);
  transform-origin: right;
  transition-duration: var(--transition-duration);
  transition-property: width;
}

.width100Percent {
  width: 100%;
}

.labelOnFocus {
  top: -20px;
  color: var(--input-on-focus-color);
}

.inputOnFocus {
  border-bottom-color: var(--input-on-focus-color);
}
