* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-light-stroke: #747474;
  --color-dark-stroke: #cdd9e5;
  --color-hover-bar: rgb(36, 49, 67);
  --color-odd-bar: rgb(46, 54, 65);
  --color-click-bar: rgba(17, 17, 17, 0.178);
}

::-webkit-scrollbar {
  display: none;
}

.technology {
  font-size: 18px;
  padding: 18px 0;
  color: var(--color-dark-stroke);
  font-weight: 500;
}

.technology.html-css-js {
  padding-top: 0;
}

.layer {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 18px;
  color: var(--color-dark-stroke);
}

.layer-portfolio {
  width: 100%;
}

.portfolio {
  width: 100%;
  border: 1px solid var(--color-dark-stroke);
  border-radius: 2px;
  font-size: 18px;
}

a {
  color: #539bf5;
}

.layer-technical {
  margin: 18px 0;
}

.project-information-title {
  border-bottom: 1px solid var(--color-dark-stroke);
  height: 50px;
  max-height: 50px;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.bar {
  border-bottom: 1px solid var(--color-dark-stroke);
  height: 50px;
  max-height: 50px;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.bar:nth-child(even) {
  background-color: var(--color-odd-bar);
}

.bar:last-child {
  border-bottom: unset;
}

.color-hover-bar {
  background-color: var(--color-hover-bar);
}

.color-click-bar {
  background-color: var(--color-click-bar);
}

.hashtag {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--color-dark-stroke);
}

.project {
  border-left: 1px solid var(--color-dark-stroke);
  border-right: 1px solid var(--color-dark-stroke);
  display: flex;
  align-items: center;
  width: calc(100% - 50px - 100px);
  padding-left: 12px;
  font-weight: 500;
  color: var(--color-dark-stroke);
}

.live-demo {
  display: flex;
  align-items: center;
  width: 110px;
  font-weight: 500;
  padding-left: 12px;
  color: var(--color-dark-stroke);
  padding-right: 12px;
  white-space: nowrap;
}

.text {
  font-size: 16px;
}

.template {
  margin: 24px 0;
  display: inline-flex;
}

.templateHref {
  font-size: 20px;
}

/* Responsive for device   width from 500px  */

@media screen and (min-width: 500px) {
  .layer {
    max-width: 450px;
  }
}
