* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --border-radius: 50px;
  --transition-duration: 900ms;
  --bg-card-1: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  --bg-card-2: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
  --bg-card-3: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  --bg-card-4: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.layer {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 243, 217);
  min-height: 100vh;
}

.layer-card {
  height: 60vh;
  width: 100%;
  margin-top: 24px;
}

.layer-card:nth-of-type(1) {
  margin-top: 0;
}

.card {
  border-radius: var(--border-radius);
  width: 100px;
  height: 100%;
  transition-duration: var(--transition-duration);
  transition-property: width;
  cursor: pointer;
  position: relative;
}

.width100Percent {
  width: 100%;
}

.layer-card:nth-of-type(1) .card {
  background-image: var(--bg-card-1);
}

.layer-card:nth-of-type(2) .card {
  background-image: var(--bg-card-2);
}

.layer-card:nth-of-type(3) .card {
  background-image: var(--bg-card-3);
}

.layer-card:nth-of-type(4) .card {
  background-image: var(--bg-card-4);
}

.card-title {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 24px;
  color: rgb(255, 243, 217);
  font-weight: 400;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
}

.transitionDelay200ms {
  transition-delay: 200ms;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .layer {
    flex-wrap: nowrap;
  }

  .card {
    margin-top: 0;
    height: 80vh;
  }

  .layer-card {
    margin-top: 0;
    margin-right: 24px;
    width: auto;
  }

  .layer-card:last-child {
    margin-right: 0;
  }

  .width700px {
    width: 1000px;
  }
}
