* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

body {
  font-size: 18px;
}

.layer {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttonMode {
  margin-top: 120px;
  padding: 8px 16px;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 500;
}

.buttonMode:active {
  background-color: rgba(0, 0, 0, 0.738);
}

.marginTop24px {
  margin-top: 24px;
}

.time {
  font-weight: 400;
  font-size: 52px;
}

.dayMonth {
  color: #aaa;
}

.dayNumber {
  --size: 28px;
  display: inline-flex;
  width: var(--size);
  height: var(--size);
  border: 1px solid #000;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.clock {
  --size: 150px;
  width: var(--size);
  height: var(--size);
  border: 1px solid #000;
  position: relative;
}

.circleBarMinute {
  --size: 10px;
  width: var(--size);
  height: var(--size);
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.barMinute {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  height: 50px;
  width: 3px;
  background-color: var(--secondary-color);
  border-radius: 3px;
}

.circleBarMinute {
  transform-origin: 50% 50% 0;
  transition-duration: 800ms;
}

.circleBarMinute.active {
  transform: translateX(-50%) translateY(-50%) rotate(360deg);
}

.centerPoint {
  --size: 15px;
  width: var(--size);
  height: var(--size);
  border: 3.2px solid #e74c3c;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  z-index: 5;
  transition-duration: 800ms;
}

.barSecond {
  position: absolute;
  bottom: 100%;
  left: calc(50%);
  height: 120px;
  width: 3px;
  background-color: #e74c3c;
  transform-origin: 0 100% 0;
  transform: translateX(-50%);
  border-radius: 2px;
}

.centerPoint.active {
  transform: translateX(-50%) translateY(-50%) rotate(360deg);
}

.circleBarHour {
  --size: 10px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.circleBarHour {
  transform-origin: 50% 50% 0;
  transition-duration: 800ms;
}

.circleBarHour.active {
  transform: translateX(-50%) translateY(-50%) rotate(360deg);
}

.barHour {
  position: absolute;
  left: 50%;
  height: 50px;
  width: 3px;
  background-color: #000;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 3px;
}
