* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.layer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
}

.barControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brandName {
  font-size: 24px;
  font-weight: 600;
}

.buttonMenu {
  --size: 50px;
  height: 28px;
  width: var(--size);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
}

.bar {
  width: calc(100% - 24px);
  height: 4px;
  background-color: #000;
  transition-duration: 200ms;
  position: absolute;
}

.bar1 {
  --delta: calc(20px / 3);
  top: calc(var(--delta) * 1);
}

.bar2 {
  --delta: calc(20px / 3);
  top: calc(var(--delta) * 2 + 4px);
}

.bar3 {
  --delta: calc(20px / 3);
  top: calc(var(--delta) * 4);
}

.bar1Move {
  --delta: calc(20px / 3);
  top: calc(var(--delta) * 1 - 2px);
}

.bar2Move {
  --delta: calc(20px / 3);
  top: calc(var(--delta) * 2 + 4px - 6px);
}

.bar3Move {
  --delta: calc(20px / 3);
  top: calc(var(--delta) * 4 - 9px);
}

.barContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 0;
  transition-duration: 200ms;
  overflow: hidden;
}

.moveBarContent {
  height: 188px;
}

.displayNone {
  display: none;
}

.navigationTo {
  margin-top: 12px;
}

a {
  color: #888888;
  text-decoration: none;
}

.moveBar3 {
  bottom: 0px !important;
}

.section1 {
  padding: 24px 36px;
  background-image: url("http://launchkit.mediumra.re/img/fit1.jpg");
  background-size: cover;
  position: relative;
}
.section1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0000006a;
}

.text1 {
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.text2 {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.py {
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 24px;
}

.sectionContent {
  position: absolute;
}
