* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}


body {
    margin: 24px;
}

#myDiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}

.header {
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    cursor: move;
    z-index: 10;
    user-select: none;
}

p {
    padding: 10px;
}

.title {
    font-size: 24px;
    margin-bottom: 24px;
}