* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --color-bg: #fafafa;
  --color-sub-title: #555;
  --color-text: #222;
  --color-menu-container: #ff7979;
  --size-menu-container: 200px;
  --size-hamburger: 40px;
  --size-closer: 40px;
  --size-bar: 4px;
  --border-radius-bar: 5px;
  --transition-duration:0.7s;
}

body {
  color: var(--color-text);
  user-select: none;
}




.rotateCounterClockWise20Deg {
  transform-origin: top left ;
  transition: 0.5s;
  transform:  rotate(-20deg);
}

.container {
 padding: 48px;
  background-color: var(--color-bg);
  position: relative;
  z-index: 5;
  transform-origin: top left;
  transition: var(--transition-duration);
}

.layer-1 {
background-color: #333;
overflow-x: hidden;
overflow-y: hidden;
}


.女 {
  position: absolute;
  z-index: 10;
}

.menu-container {
  --top-value: calc(-1 * var(--size-menu-container) / 2) ;
  --left-value:calc(-1 * var(--size-menu-container) / 2);
  width: var(--size-menu-container);
  height: var(--size-menu-container);
  border-radius: 50%;
  background-color: var(--color-menu-container);
  cursor: pointer;
  top: var(--top-value);
  left: var(--left-value) ;

  transform-origin: 50% 50% 0;
  transition: var(--transition-duration);

}

.menu-container::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 4px;
}

.menu-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
 

}

.hamburger {
  position: absolute;
  height: var(--size-hamburger);
  width: var(--size-hamburger);
  right: calc(var(--size-hamburger) / 2 / 2 + var(--size-hamburger) / 2);
  bottom: calc(var(--size-hamburger) / 2 / 2 + var(--size-hamburger) / 2);
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin-right: 16px;
  transition: 0.4s;
}

.hamburger:active {
  transform: scale(0.78);
}

.hamburger-bar {
  width: 100%;
  height: var(--size-bar);
  background-color: #fff;
  border-radius: var(--border-radius-bar);
}

.transformRotateCounterClockWise70deg {
  transform: rotate(-70deg)  ;
}


.transformRotateClockWise0Deg {
  transform: rotate(20deg);
  transition: var(--transition-duration);
}

.closer {
  position: absolute;
  height: var(--size-closer);
  width: var(--size-closer);
  margin-left: 16px;
  padding: 6px;
  cursor: pointer;
  transform: rotate(45deg);
  bottom: calc(var(--size-hamburger) / 2 / 2 + var(--size-hamburger) / 2  + var(--size-hamburger) / 2 )  ;
  left:calc(var(--size-hamburger) / 2 / 2 );

}

.closer:active {
  transform:  rotate(45deg) scale(0.78);
}

.initialTransition{
  transition: initial;
}
.transition400ms{
  transition: var(--transition-duration);
}

.closer-bar:first-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: var(--size-bar);
  height: calc(100% - 12px);
  background-color: #fff;
  border-radius: var(--border-radius-bar);
}

.closer-bar:last-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: calc(100% - 12px);
  background-color: #fff;
  border-radius: var(--border-radius-bar);
}

.title {
  font-weight: 600;
  font-size: 28px;
}

.sub-title {
  font-style: italic;
  color: var(--color-sub-title);
  font-size: 14px;
  margin-top: 6px;
}

.paragraph {
  padding: 24px 0;
  line-height: 1.5;
}

.paragraph:last-child {
  padding-top: 0;
}

.heading-3 {
  font-size: 18px;
  font-weight: 600;
}

.img {
  width: 100%;
  padding: 24px 0;
}

img {
  width: 100%;
}

.transformRotateCounterClockWise20deg {
  transform: rotate(-20deg);
}




.animationRotateCounterClockwise20Deg {
  animation-name: animationRotateCounterClockwise20Deg;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.52, 0.765, 1);
  animation-duration: var(--transition-duration);
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes animationRotateCounterClockwise20Deg {
  from {
    transform: rotate(0);
  }

  to {
transform: rotate(-20deg);
  }
}




.animationRotateClockwise20Deg {
  animation-name: animationRotateClockwise20Deg;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.52, 0.765, 1);

  animation-duration: var(--transition-duration);
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes animationRotateClockwise20Deg {
  from {
transform: rotate(-20deg);

  }

  to {
    transform: rotate(0);

  }
}

.navigate {
  color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 12px;
  position: relative;

}

.navigate:nth-of-type(1) {
  left: -126px;
}

.navigate:nth-of-type(2){
  left: -126px;
}

.navigate:nth-of-type(3){
  left: -146px;
}



.navigation {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 200px;
  height: 200px;

}

.icon {
  --size:30px;
  width: var(--size);
  height:  var(--size) ;
}

.navigate-to {
  text-transform: capitalize;
  font-size: 24px;
  margin-left: 12px;
}

.animationNavigateHome {
  animation-name: animationNavigateHome;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


@keyframes animationNavigateHome {
  from {
    left: -126px;
    opacity: 0;

  }

  to {
    left: 0;
    opacity: 1;
  }


}



.animationNavigateAbout {
  animation-name: animationNavigateAbout;
  animation-delay: 0.2s;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


@keyframes animationNavigateAbout {

  from {
    left: -126px;
    opacity: 0;

  }

  to {
    left: 24px;
    opacity: 1;
  }

}


.animationNavigateContact {
  animation-name: animationNavigateContact;
  animation-delay: 0.4s;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes animationNavigateContact {
  from {
    left: -126px;
    opacity: 0;

  }

  to {
    left: 48px;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 110px 250px;
  }
  
}