* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --border-size: 3px;
  --disabled-color: #e0e0e0;
  --active-color: #3498db;
  --transition-duration: 100ms;
}

.layer {
  background-color: #f6f7fb;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layer-progress-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 35px;
  position: relative;
}

.progress {
  width: 100%;
  height: var(--border-size);
  background-color: var(--disabled-color);
  position: absolute;
  z-index: 5;
}

.progress-active {
  width: 0%;
  height: 100%;
  background-color: var(--active-color);
  transition-property: width;
  transition-duration: 800ms;
}

.step {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border: var(--border-size) solid var(--disabled-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--disabled-color);
  font-size: 14px;
  transition-duration: var(--transition-duration);
  transition-property: border color background-color;
  background-color: #fff;
  z-index: 10;
}

.string {
  width: 50px;
  height: var(--border-size);
  background-color: var(--disabled-color);
}

.layer-button {
  margin-top: 24px;
  display: flex;
}

.button {
  width: 80px;
  padding: 4px;
  border: none;
  background-color: var(--disabled-color);
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  user-select: none;
}

.button.active {
  cursor: pointer;
}

.button.active:active {
  background-color: #57a4d6;
}

.button:nth-of-type(1) {
  margin-right: 6px;
}

.button:nth-of-type(2) {
  margin-left: 6px;
}

.active {
  background-color: var(--active-color);
}

.step.active {
  border-color: var(--active-color);
  background-color: #fff;
  color: #111;
}

.transition-delay-800ms {
  transition-delay: 450ms;
}
